# Python
.venv/
__pycache__/
*.pyc

# Model weights
*.pt
*.pth

# Model weights
*.pt
*.pth

# Ignore all folders inside dataset
dataset/*/

# Keep files directly inside dataset
!dataset/*.yaml
!dataset/*.py
dataset.zip

# VS Code settings
.vscode/

yolov5.zip